<div class="row">
  <div class="col-lg-2">
      <label>Cod</label>
  </div>
  <div class="col-lg-5">
      <label>Producto</label>
  </div>
  <div class="col-lg-2">
      <label>Precio</label>
  </div>
  <div class="col-lg-2">
      <label>IVA</label>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
    <p>{{product?.code}}</p>
  </div>
  <div class="col-lg-5">
    <p>{{product?.name}}</p>
  </div>
  <div class="col-lg-2">
    <p>{{product?.unitPrice}}</p>
  </div>
  <div class="col-lg-2">
    <p>{{product?.vatRate}}</p>
  </div>
</div>
